@inherits LayoutComponentBase

<header>
    <NavLink href="/">
        <img src="/IMG/Logo/Think-different-Academy_LOGO_oficialni_1 1.svg" id="TdA-logo"/>
    </NavLink>
</header>
<div class="display">
    <main class="place-center">
        @Body
    </main>
</div>


@*<div class="page">
    <header class="top-bar">
        <a href="/">
            <img src="/IMG/Logo/Think-different-Academy_LOGO_oficialni_1 1.svg" alt="Think different Academy" id="TdA-logo">
        </a>
    </header>
    
    <div class="display">
        <article class="content">
            @Body
        </article>
    </div>
</div>*@


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>