/* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: repeating-conic-gradient(#F9F9F9 0 90deg,var(--clr-primary) 0 180deg);
    animation: l21 1s infinite linear;
}
@keyframes l21 {
    100% {transform: rotate(.5turn)}
}