@inherits LayoutComponentBase

<head>
    <link rel="icon" type="image/svg+xml" href="/IMG/Logo/TdA_LOGO_erb.svg">
</head>

<div class="page">
    <div class="form place-center sheet">
        @Body
    </div>
</div>