@attribute [Route(PageRoutes.Admin.AdminPanel)]
@rendermode InteractiveWebAssembly

<PageTitle>Admin Panel</PageTitle>

<h2>Admin panel</h2>

<div class="admin-search">
    <input type="text" class="text-input" placeholder="Nickname / Email / UUID">
    <button class="primary-button">Zobrazit uživatele</button>
</div>

@*popup*@
<p class="admin-error">Tento uživatel neexistuje / Tento uživatel je admin / Nic</p>

<div class="admin-options-group">
    <p><b>vaclav.brdek</b><button class="edit-button"></button></p>
    <p>vaclav.brdek@mensagymnazium.cz<button class="edit-button"></button></p>
</div>

<div class="admin-flex-element admin-options-group">
    <div>
        <p><b>Heslo</b></p>
        <p>*****<button class="edit-button"></button></p>
    </div>
    <div>
        <p><b>ELO</b></p>
        <p>9<button class="edit-button"></button></p>
    </div>
</div>

<div class="admin-options-group">
    <p><b>Počet vyhraných her</b></p>
    <p>65465415<button class="edit-button"></button></p>
</div>

<button class="danger-button admin-options-group">Zabanovat uživatele</button>