th {
    font-weight: normal;
    border-bottom: 1px solid #c0c0c0;
    text-align: left;
}

.audit-head {
    border-bottom: 1px #c0c0c0 solid;
}

.data-table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    padding: 6px;
}