th {
    font-weight: normal;
    border-bottom: 1px solid var(--clr-gray-600);
    text-align: left;
}

.audit-head {
    border-bottom: 1px var(--clr-gray-600) solid;
}

.data-table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    padding: 6px;
}