@using h.Contracts.AuditLog
@attribute [Route(PageRoutes.Admin.Audit)]
@rendermode InteractiveWebAssembly
@attribute [Authorize(Roles = nameof(UserRole.Admin))]

<PageTitle>Audit Log</PageTitle>

<h2>Audit Log</h2>

<table class="data-table">
    <thead class="audit-head">
    <tr>
        <th>#</th>
        <th>Timestamp</th>
        <th>IP adresa</th>
        <th>Akce</th>
    </tr>
    </thead>
    <tbody>
        <Virtualize TItem="AuditLogEntryResponse" ItemsProvider="GetRows" Context="item">
        <tr>
            <td>@(item.Id)</td>
            <td>@(item.CreatedAt)</td>
            <td>@(item.IPV4)</td>
            <td>@(item.Message)</td>
        </tr>
    </Virtualize>
    </tbody>
</table>
