@inherits LayoutComponentBase

<div class="page">
    <header class="header">
        <a href="/">
            <img src="/IMG/Logo/Think-different-Academy_LOGO_oficialni_1 1.svg" alt="Think different Academy" id="TdA-logo">
        </a>
        @* <input type="text" placeholder="Vyhledat úlohy" class="search-bar"> *@
    </header>
    
    <div class="display">
        <div class="navbar">
            <NavMenu/>
        </div>
        
        <article class="content">
            @Body
        </article>
    </div>
</div>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
