.user {
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #d5d5d5;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.user img {
    width: 50px;
}

.user #nickname {
    font-weight: bold;
    font-size: 15pt;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.link {
    display: flex;
    gap: 7px;
    align-items: center;
    text-decoration: none;
    color: #000000;
    padding: 6px 8px;
    font-weight: normal;
}

.nav-icon {
    width: 15px;
    height: 15px;
}

.x .nav-icon {
    background-image: url("/IMG/X/X_modre.svg");
}

.o .nav-icon {
    background-image: url("/IMG/O/O_modre.svg");
}

nav .link.active.x .nav-icon {
    background-image: url("/IMG/X/X_bile.svg");
}

nav .link.active.o .nav-icon {
    background-image: url("/IMG/O/O_bile.svg");
}

nav .link.active {
    background-color: #0070BB;
    border-radius: 7px;
    color: #FFFFFF;
    font-weight: bold;
}

nav .link:hover {
    background-color: #74bbed;
    border-radius: 7px;
}

nav #nav-foot {
    position: absolute;
    bottom: 20px;
    display: flex;
    gap: 10px;
    color: #c1c1c1;
}

nav #nav-foot a {
    color: #c1c1c1;
    text-decoration: underline;
}