<nav class="nav sheet">
    <NavLink href="/game" class="nav-link">
        <button class="primary-button">Hrát hru</button>
    </NavLink>
    <hr>
    <div class="nav-item">
        <NavLink class="nav-link" href="game/list" Match="NavLinkMatch.All">
            <span class="bi cross" aria-hidden="true"></span> Výběr úloh
        </NavLink>
    </div>
    <div class="nav-item">
        <NavLink class="nav-link" href="game/editor">
            <span class="bi circle" aria-hidden="true"></span> Vytvořit novou úlohu
        </NavLink>
    </div>
</nav>
@*<span id="changelog">v 1.0 - Changelog Debug</span>*@
