.nav {
    display: flex;

    flex-direction: column;
    align-items: center;

    min-height: 100%;
    padding: 1rem;
}

.bi {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin: 0.5rem;
    top: -1px;
    background-size: cover;
    padding: 10px;
}


.nav-item {
    font-size: 1rem;
    padding-bottom: 0.5rem;
    border-radius: 0.75rem;
    min-width: 205px;
}

.nav-item:first-of-type {
    margin-block-start: 1rem;
}

.nav-item:last-of-type {
    margin-block-end: 1rem;
}

.nav-item ::deep .nav-link {
    color: #000000;
    background: none;
    border: none;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
    text-decoration: none;
}

.nav-item ::deep a.active {
    background-color: #0070BB;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.nav-item ::deep a.active .cross {
    background-image: url("/IMG/X/X_bile.svg");
}

.nav-item ::deep a.active .circle {
    background-image: url("/IMG/O/O_bile.svg");
}

.nav-item ::deep .nav-link:not(.active):hover {
    background-color: #a2daff;
    color: #000;
    font-weight: normal;
}

.navbar-toggler:checked ~ .nav-scrollable {
    display: block;
}

.cross {
    background-image: url("/IMG/X/X_modre.svg");
}

.circle {
    background-image: url("/IMG/O/O_modre.svg");
}