@using h.Contracts.MultiplayerGames
@inject NavigationManager _navigationManager
@rendermode InteractiveServer

<button class="hamburger" @onclick="HandleHamburger">
    <img src="/IMG/icons/hamburger.svg" />
</button>

<div class="sheet nav-cont" style="@(!isNavOpen ? "display: none" : "display: flex")">
    <div class="nav-title">
        <p>Navigace</p>
    </div>

    <nav>
        <AuthorizeView Policy="@nameof(AppPolicies.IsNotAdmin)" Context="outter">
            <NavLink href="/game/list" class="link x" Match="NavLinkMatch.All">
                <div class="nav-icon"></div>
                <span>Výběr úloh</span>
            </NavLink>
            <NavLink href="/game/editor" class="link o">
                <div class="nav-icon"></div>
                <span>Vytvořit novou úlohu</span>
            </NavLink>
            <AuthorizeView Policy="@nameof(AppPolicies.IsUser)">
                <NavLink href="/user/settings" class="link o">
                    <div class="nav-icon"></div>
                    <span>Nastavení účtu</span>
                </NavLink>
            </AuthorizeView>
            <AuthorizeView>
                <NavLink href="/multiplayer-game/queue" class="link o">
                    <div class="nav-icon"></div>
                    <span>Hodnocená hra</span>
                </NavLink>
            </AuthorizeView>
            <NavLink href="/multiplayer-game/friend-query" class="link x">
                <div class="nav-icon"></div>
                <span>Hraj s kamarádem</span>
            </NavLink>
        </AuthorizeView>
        <AuthorizeView Policy="@nameof(AppPolicies.IsAdmin)">
            <NavLink href="/admin/panel" class="link x">
                <div class="nav-icon"></div>
                <span>Admin panel</span>
            </NavLink>
            <NavLink href="/admin/audit" class="link o">
                <div class="nav-icon"></div>
                <span>Audit log</span>
            </NavLink>
            <p id="nav-foot">
                <span>v.2</span>
            </p>
        </AuthorizeView>
    </nav>
</div>