<div class="user">
    <img src="IMG/pfps/pfp-grey.svg" alt="">
    <div class="user-info">
        <p id="nickname">Nepřihlášen</p>
        <p id="logout"><a href="/login" class="minor-link">Přihlásit se</a></p>
    </div>
</div>
@*TODO: <a/> na <NavLink/>
to ale dělá vykutálené skopičiny a fuckupuje to UI*@
<nav>
    <NavLink href="/game/list" class="link x" Match="NavLinkMatch.All"> <!--TODO: nastavit co je active -->
        <div class="nav-icon"></div>
        <span>Výběr úloh</span>
    </NavLink>
    <NavLink href="/game/editor" class="link o">
        <div class="nav-icon"></div>
        <span>Vytvořit novou úlohu</span>
    </NavLink>
    <NavLink href="/settings" class="link x">
        <div class="nav-icon"></div>
        <span>Nastavení účtu</span> <!--  TODO: Jen když je přihlášen  -->
    </NavLink>
    <NavLink href="/game/ranked/queue" class="link o">
        <div class="nav-icon"></div>
        <span>Ranked hra</span>
    </NavLink>
    <NavLink href="" class="link x">
        <div class="nav-icon"></div>
        <span>Hraj s kamarádem</span>
    </NavLink>
    <p id="nav-foot">
        <span>v.69</span>
        <a href="/admin/panel">Admin</a><!--  TODO: Jen když je admin  -->
        <a href="/admin/audit">Audit</a><!--  TODO: Jen když je admin  -->
    </p>
</nav>









@*
<nav class="nav sheet">
    <NavLink href="/game" class="nav-link">
        <button class="primary-button">Hrát novou hru</button>
    </NavLink>
    <hr>
    <div class="nav-item">
        <NavLink class="nav-link" href="game/list" Match="NavLinkMatch.All">
            <span class="bi cross" aria-hidden="true"></span> Výběr úloh
        </NavLink>
    </div>
    <div class="nav-item">
        <NavLink class="nav-link" href="game/editor">
            <span class="bi circle" aria-hidden="true"></span> Vytvořit novou úlohu
        </NavLink>
    </div>
</nav>
$1$<span id="changelog">v 1.0 - Changelog Debug</span>#1#
*@
