
.dropdown .toggle-btn {
    color: var(--clr-gray-500);
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.dropdown .toggle-btn span {
    display: inline-block;
}

.dropdown .child-view {
    display: none;
}

    .dropdown[data-open] .child-view {
        display: block;
    }

    .dropdown[data-open] .toggle-btn {
        color: var(--clr-primary-600);
    }

    .dropdown[data-open] .toggle-btn span {
        transform: rotate(90deg);
    }