@attribute [Route(PageRoutes.Ranked.RankedQueue)]
@rendermode InteractiveWebAssembly

<PageTitle>Hledání dostupného uživatele</PageTitle>

@*TODO: zobrazovat jenom kdyz !logged*@
<div class="not-logged-popup">
    <div class="dialog">
        <h2>Na to budeš potřebovat účet...</h2>
        <span>Ranked hry ovlivňují tvé ELO a zařazují tě na žebříčky. Budeš na ně potřebovat účet.</span>
        <button class="primary-button">Přihlásit se nebo vytvořit účet</button>
        <button class="secondary-button">Zpět</button>
    </div>
</div>
<div class="center queue">
    <h1>Hledám dostupné protihráče...</h1>
    <div class="sheet split-sides queue-show">
        <div class="side">
            <div class="user-cont-game">
                <div class="pfp"></div>
                <div class="user-data">
                    <p class="username">tvojemama69</p>
                    <p class="elo">ELO: 655</p>
                    <p class="status gray">Čeká na přijetí</p>
                </div>
            </div>
        </div>
        <div class="side">
            <div class="user-cont-game">
                <div class="pfp loader"></div>
                <div class="user-data">
                    <p class="username">???</p>
                    <p class="elo">ELO: 655</p>
                    <p class="status gray">Hledám hráče...</p>
                </div>
            </div>
        </div>
    </div>
    <div class="gameinfo">
        <p>Pozice ve frontě: 1</p>
        <p>Počet hráčů ve frontě: 1</p>
    </div>
    <div class="gametools">
        <div class="split-sides">
            <div class="side">
                <button class="secondary-button">Opustit frontu</button> <!-- TODO: nabindovat -->
            </div>
            <div class="side">
                <p>Použití automatizovaných herních klientů je zakázáno a bude trestáno zablokováním účtu.</p>
            </div>
        </div>
    </div>
</div>