@using h.Client.Services
@using h.Primitives.Games
@attribute [Route(PageRoutes.Login.RegisterIndex)]
@rendermode InteractiveWebAssembly
@layout LoginLayout

<form action="" class="login-form">
    <h2>Vytvořit nový účet</h2>
    <input type="text" placeholder="Nickname" class="text-input" name="nick">
    <input type="text" placeholder="Email" class="text-input" name="mail">
    <input type="password" placeholder="Heslo" class="text-input" name="pwd">
    <input type="password" placeholder="Heslo znovu" class="text-input" name="pwd2">
    <button class="primary-button login-btn">Vytvořit nový účet</button>
    <a href="/login" class="link new-user">Už mám účet</a>
</form>