.leaderboard-container, .team-container {
    padding: 20px;
    padding-top: 200px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}

.pedestals {
    display: flex;
    justify-content: center;
    gap: 90px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.pedestal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

    .pedestal:first-child, .pedestal:last-child {
        margin-top: 60px;
    }

    .pedestal .name {
        font-weight: bold;
        font-size: 20pt;
    }

    .pedestal .elo {
        font-size: 15pt;
    }

.leadertable table {
    padding: 0;
}

    .leadertable table tr {
        display: flex;
        align-items: center;
        margin: 0;
        gap: 20px;
        border-top: var(--clr-primary-600) solid 2px;
        border-bottom: var(--clr-primary-600) solid 2px;
        padding: 9px 26px;
    }

        .leadertable table tr:first-child {
            border-top: var(--clr-primary-600) solid 3.5px;
        }

        .leadertable table tr:last-child {
            border-bottom: var(--clr-primary-600) solid 3.5px;
        }

    .leadertable table td {
        min-width: 40px;
    }

.leadertable .place {
    font-weight: bold;
    color: var(--clr-primary-600);
    font-size: 20pt;
}

.leadertable .name {
    font-weight: bold;
}

.name:hover {
    text-decoration: underline;
}

.blue-link {
    text-decoration: underline;
    color: var(--clr-primary-600);
    font-weight: bold;
    font-size: 15pt;
}