@attribute [Route(PageRoutes.HomeIndex)]
@rendermode InteractiveWebAssembly

<PageTitle>Vítejte ve Think different Academy</PageTitle>

<h1>Vítejte ve Think different Academy</h1>

@*TODO: menici se texty*@   
@*TODO: <button/> zmenit na <NavLink/> a pridat linky*@

<div class="showcase">
    <img src="/IMG/Homepage/Ilustration/homepage_img1.svg" class="showcase-img">
    <div class="showcase-text">
        <div class="info-button">
            <NavLink href="/multiplayer-game/queue" class="primary-button">Připoj se do online hry</NavLink>
            <div class="text-field">
                <p><b>X</b> hráčů online</p>
                <p><b>Y</b> probíhajících her</p>
            </div>
        </div>
        <p>nebo se připoj ke kamarádovi</p>
        <div class="info-button">
            <input @bind="roomInviteCode" type="text" class="text-input" placeholder="Kód pozvánky">
            <a href="@PageRoutes.Multiplayer.FriendJoinCodeWithQuery(roomInviteCode)" class="secondary-button">Připojit se</a>
        </div>
    </div>
</div>

<HomeIndexLeaderboard />

<div class="showcase">
    <img src="/IMG/Homepage/Ilustration/homepage_img2.svg" class="showcase-img">
    <div class="showcase-text">
        <h1>Vytvářej a hraj logické úlohy</h1>
        <p class="sub">Úlohy jsou rozehrané hry, který můžeš zkusit vyřešit a dokončit.</p>
        <NavLink href="/game/list" class="primary-button">Prohlížet úlohy</NavLink>
    </div>
</div>

<div class="showcase">
    <div class="showcase-text">
        <h1>Zapoj se do online her</h1>
        <p class="sub">Ranked hry ovlivňují tvé ELO a posouvají tě v žebříčku.</p>
        <NavLink href="/multiplayer-game/queue" class="primary-button">Zapojit se do online hry</NavLink>
    </div>
    <img src="/IMG/Homepage/Ilustration/homepage_img3.svg" class="showcase-img">
</div>

<div class="showcase">
    <img src="/IMG/Homepage/Ilustration/homepage_img4.svg" class="showcase-img">
    <div class="showcase-text">
        <h1>Hraj online s kamarádem</h1>
        <p class="sub">Pomocí pozvánky můžeš hrát soukromou hru. Pokud mají oba hráči účet, ovlivní ELO.</p>
        <NavLink href="/multiplayer-game/friend-query" class="primary-button">Hrát s kamarádem</NavLink>
    </div>
</div>

<div class="team-container">
    <h1 class="blue" style="text-align: center">Tým programátorů</h1>
    <div class="team">
        <div class="team-member">
            <div class="pfp" style="background-image: url('/IMG/Homepage/Team/martin.png')"></div>
            <b>Martin Fiala</b>
            <p>Backend brogramátor</p>
        </div>
        <div class="team-member">
            <div class="pfp" style="background-image: url('/IMG/Homepage/Team/klara.png')"></div>
            <b>Klára Futejová</b>
            <p>Frontend programátor</p>
        </div>
        <div class="team-member">
            <div class="pfp" style="background-image: url('/IMG/Homepage/Team/jonas.png')"></div>
            <b>Jonáš Holub</b>
            <p>UI desginer</p>
        </div>
    </div>
</div>

@code {
    private int? roomInviteCode;
}