@attribute [Route(PageRoutes.Game.GameIndex)]

<div class="card">
    <div class="game-field">
        @for (int y = 0; y < 15; y++)
        {
            <div class="game-field-row">
                @for (int x = 0; x < 15; x++)
                {
                    int id1D = y * 15 + x;
                    var xCopy = x;
                    var yCopy = y;

                    string background = (id1D % 2 == 0) ? "#f9f9f9" : "white";

                    <div class="cell"
                         style="width: 50px; background-color: @background; border: none; display: flex; align-items: center; justify-content: center"
                         data-x="@xCopy"
                         data-y="@yCopy">

                        @* Symbols added via js *@
                        @* <img src="" /> *@
                    </div>
                }
            </div>
        }
    </div>
</div>