@using System.Diagnostics
@using System.Runtime.CompilerServices
@attribute [Route(PageRoutes.Game.GameIndex)]

<div class="card">
    <div class="primary-column">
        <div class="info-row">
            <div class="game-name">
                <h2>Placeholder</h2>
            </div>
            <div class="turn">
                @if (xTurn)
                {
                    imgSrc = "/IMG/X/X_cervene.svg";
                    imgAlt = "X";
                }
                else
                {
                    imgSrc = "/IMG/O/O_modre.svg";
                    imgAlt = "O";
                }
                <img src=@imgSrc alt=@imgAlt>
            </div>
            <div class="round">
                <h3>10. kolo</h3>
            </div>
        </div>
        <div class="game-field">
            @for (int y = 0; y < 15; y++)
            {
                <div class="game-field-row">
                    @for (int x = 0; x < 15; x++)
                    {
                        int id1D = y * 15 + x;
                        var xCopy = x;
                        var yCopy = y;

                        string background = (id1D % 2 == 0) ? "#f9f9f9" : "white";

                        <div class="cell"
                             style="width: 50px; background-color: @background; border: none; display: flex; align-items: center; justify-content: center"
                             data-x="@xCopy"
                             data-y="@yCopy">

                            @* Symbols added via js *@
                            @* <img src="" /> *@
                        </div>
                    }
                </div>
            }
        </div>
    </div>
    <div class="secondary-column">
        <div class="addit-info">
            <div class="info">
                <h3 style="color: #0070BB">Obtížnost</h3>
                <span>Placeholder</span>
            </div>
            <div class="info">
                <h3 style="color: #0070BB">Vytvoření hry</h3>
                <span>yyyy-mm-dd hh:mm</span>
            </div>
            <div class="info">
                <h3 style="color: #0070BB">Upravení hry</h3>
                <span>yyyy-mm-dd hh:mm</span>
            </div>
        </div>
        <a href="/game/list" style="text-decoration: none">
            <button class="to-games">
                <img src="/IMG/icons/back-arrow.svg" alt="back">
                Úlohy
            </button>
        </a>
    </div>
</div>
