@using System.Diagnostics
@using System.Runtime.CompilerServices
@attribute [Route(PageRoutes.Game.GameIndex)]
@rendermode InteractiveWebAssembly
@layout NoNavLayout

<div class="card">
    <div class="primary-column">
        <div class="info-row">
            <a href="/game/list">
                <button class="to-games">
                    <img src="/IMG/icons/end-game-arrow.svg" alt="back" style="height: 15px">
                    <h3>Ukončit hru</h3>
                </button>
            </a>
            <div class="game-name">
                <h2>Placeholder</h2>
            </div>
            <div class="turn">
                @if (xOnTurn)
                {
                    turnDisplaySrc = "/IMG/X/X_cervene.svg";
                    turnDisplayAlt = "X";
                }
                else
                {
                    turnDisplaySrc = "/IMG/O/O_modre.svg";
                    turnDisplayAlt = "O";
                }
                <img src=@turnDisplaySrc alt=@turnDisplayAlt>
            </div>
        </div>
        <div class="game-field" @ref="gameFieldRef" data-cell-hover-symbol="@(xOnTurn ? "x" : "o")">
            @for (int y = 0; y < 15; y++)
            {
                <div class="game-field-row">
                    @for (int x = 0; x < 15; x++)
                    {
                        int id1D = y * 15 + x;
                        var xCopy = x;
                        var yCopy = y;

                        string background = (id1D % 2 == 0) ? "#f9f9f9" : "white";

                        <div class="cell empty"
                             style="width: 50px; background-color: @background;"
                             data-x="@xCopy"
                             data-y="@yCopy">

                            @* Symbols added via js *@
                            @* Any inner content is removed when cell is placed !!! *@
                            @* <img src="" /> *@
                        </div>
                    }
                </div>
            }
        </div>
    </div>
    <div class="secondary-column">
        <div class="round">
            <h3>10. kolo</h3>
        </div>
        <div class="addit-info" style="display: @(IsVisible ? "flex" : "none")">
            <div class="info">
                <h3 style="color: #0070BB">Obtížnost</h3>
                <span>Placeholder</span>
            </div>
            <div class="info">
                <h3 style="color: #0070BB">Vytvoření hry</h3>
                <span>yyyy-mm-dd hh:mm</span>
            </div>
            <div class="info">
                <h3 style="color: #0070BB">Upravení hry</h3>
                <span>yyyy-mm-dd hh:mm</span>
            </div>
        </div>
        <div class="save-game">
            <button class="save-game-btn">
                
            </button>
        </div>
    </div>
</div>

