.game-cards {
    display: flex;
    gap: 15px;
    overflow-y: scroll;
    height: 70vh;
    flex-wrap: wrap;
}

    ::deep .game-cards > div:first-child {
        /*first child is Virtualize spacer, so remove first gap.*/
        margin-right: -15px;
    }

.game-list-h2 {
    display: flex;
    gap: 50px;
    align-items: center;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-left: 10px;
}

#new-game {
    background: #0070BB;
    color: white;
    border: none;
    border-radius: 4px;
    align-content: center;
    padding: 5px 60px;
    margin: 2px 0;
    cursor: pointer;
    height: 40px;
    font-size: 16px;
    font-weight: normal;
}

.cards-pane {
    width: calc(100% - 220px);
}

.game-card {
    background: white;
    border: none;
    border-radius: 10px;
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.1));
    padding: 5px 15px 15px;
    margin: 10px;
    align-self: flex-start;
}

    .game-card button:hover {
        transition: transform .2s ease;
        cursor: pointer;
        transform: scale(1.1);
    }
    
    .game-card a:hover {
        transition: transform .2s ease;
        cursor: pointer;
        transform: scale(1.1);
    }

.game-card > .name-diff {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.game-card > .name-diff > .diff {
    height: 20px;
}

.game-img {
    display: flex;
    flex-direction: column;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.game-card > .action-row .play,
.game-card > .action-row .edit,
.game-card > .action-row .delete {
    height: 30px;
    width: 30px;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-card > .action-row > .play {
    background: #0070BB;
    border-radius: 4px;
}

/*filters*/
::deep .name-filter {
    justify-content: flex-end;
    display: flex;
    padding: 10px;
    border-radius: 0;
    margin-top: 20px;
    min-width: 180px;
    border: #d7d7d7 1px solid;
}

.selected span {
    background: #0070BB;
    color: white;
    padding: 4px;
    border-radius: 4px;
    margin-right: 5px;
    margin-bottom: 10px;
    display: inline-block;
}

.filters {
    width: 200px;
    position: absolute;
    right: 25px;
}

.category-txt {
    color: #0070BB;
}

.filter-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    ::deep .filter-wrapper .dropdown {
        border-top: solid 2px #D5D5D5;
        padding: 10px;
    }

        ::deep .filter-wrapper .dropdown:first-child {
            border: solid 0 white;
        }

.option {
    color: #D5D5D5;
    border: none;
}

    .option input[type="checkbox"]:checked + span {
        color: #0070BB;
    }

    .option input[type="radio"]:checked + span {
        color: #0070BB;
    }

.filter-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-filter {
    background: #0070BB;
    color: white;
    border: none;
    border-radius: 4px;
    align-content: center;
    padding: 10px 5px;
    margin: 2px 0;
    cursor: pointer;
}

.btn-cancel-filters {
    background: white;
    border: 1px #0070BB solid;
    color: #0070BB;
    border-radius: 4px;
    align-content: center;
    padding: 10px 5px;
    margin: 2px 0;
    cursor: pointer;
}