.bin {
    background: none;
}

.eraser {
    background: none;
    padding: 0;
}

.back-forth {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.back-btn {
    background: none;
    border: none;
    padding: 5px;
}

.forth-btn {
    background: none;
    border: none;
    padding: 5px;
}

.difficulty-selector {
    display: grid;
    /*grid-template-areas:
        "left right bulb"
        "slider slider bulb";*/
    grid-template-areas:
        "left right"
        "slider slider";

    grid-template-columns: 1fr 1fr auto;
    row-gap: 0.3rem;
    grid-column-gap: 1.6rem;
}

    .difficulty-selector .left {
        grid-area: left;
    }

    .difficulty-selector .right {
        grid-area: right;
    }

    .difficulty-selector .left,
    .difficulty-selector .right {
        color: #C0C0C0;
        font-size: 0.75rem;
    }

    .difficulty-selector .bulb {
        grid-area: bulb;
    }

    .difficulty-selector .slider {
        grid-area: slider;
    }

.pick {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto 1fr;
    align-items: center;
    gap: 0.75rem;
}

.panel {
    display: flex;
    gap: 10px;
    align-items: center;
}

    .panel button {
        border: none;
        padding: 10px;
        background: none;
        border-radius: 8px;
        aspect-ratio: 1/1;
    }

    .panel button:hover {
        background: #f5f5f5;
    }

    .pick button.active {
        background: #f5f5f5;
    }


::deep .panel {
    display: flex;
    flex-direction: row;
    gap: 7px;
}

.jmeno {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

    .jmeno button {
        padding: 10px;
        background: none;
        border: none;
    }

    .jmeno input {
        min-height: 100%;
        min-width: 50%;
    }

/*
.cross-btn {
    background: none;
    width: 20px;
    height: 20px;
    border: solid 1px firebrick;
}

.circle-btn {
    background: none;
    width: 20px;
    height: 20px;
    border: solid 1px firebrick;
}*/

.vytvorit {
    display: flex;
    flex-direction: column;
    gap: 10px;
}