.card {
    display: flex;
    flex-direction: row;
}

.primary-column {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
}

.info-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    min-height: 50px;
}

.game-name {
    background: white;
    border: none;
    border-radius: 4px;
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.1));
    padding: 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*min-width: 400px;*/
}

.turn {
    padding: 5px;
    background: white;
    border: none;
    border-radius: 4px;
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.1));
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
}

.turn img {
    height: 30px;
    width: 30px;
}

.round {
    background: white;
    border: none;
    border-radius: 4px;
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.1));
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    min-width: 227px;
    height: 50px;
    margin-bottom: 20px;
}

.secondary-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    min-width: fit-content;
}

.addit-info {
    display: flex;
    flex-direction: column;
    background: white;
    border: none;
    border-radius: 4px;
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.1));
    padding: 25px 50px;
    justify-content: center;
    margin-bottom: 20px;
    min-width: 227px;
    gap: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.to-games {
    background: white;
    border: none;
    border-radius: 4px;
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.1));
    padding: 0 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /*width: 250px;*/
    cursor: pointer;
    min-height: 50px;
    gap: 5px;
}

/*win popup*/
.win-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 69;
}

.win-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    padding: 20px 0;
    gap: 10px;
}

.win-r1 {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 20vw;
}

.win-r2 {
    background-color: #0070BB;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    gap: 10px;
}

.win-r3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

.winner {
    background: white;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

/*save popup*/
.save-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 69;
}

.save-card {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    gap: 20px;
}
.save-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mini-row {
    height: 25px;
}

::deep .save-game-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}