.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0.75rem;
    width:100%;
}

.cards-pane {
    max-height: var(--display-height);
    overflow-y: scroll;
    padding-block-end: 1rem;
}

.game-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.game-list-h2 {
    display: flex;
    gap: 50px;
    align-items: center;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-left: 10px;
}

#new-game {
    margin: 2px 0;
    margin-right: 22px;
}


.game-card {
    background: white;
    border: none;
    border-radius: 10px;
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.1));
    padding: 5px 15px 15px;
    align-self: flex-start;
}

    .game-card button:hover {
        transition: transform .2s ease;
        cursor: pointer;
        transform: scale(1.1);
    }
    
    .game-card a:hover {
        transition: transform .2s ease;
        cursor: pointer;
        transform: scale(1.1);
    }

.game-card > .name-diff {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.game-card > .name-diff > .diff {
    height: 20px;
}

.game-img {
    display: flex;
    flex-direction: column;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.action-row {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}

.row {
    display: flex;
    flex-direction: row;
    height: 15px;
}

.secondary-row {
    display: flex;
    justify-content: right;
}


.col-dark {
    background: var(--clr-gray-400);
    width: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-light {
    background: none;
    width: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.small-x {
    height: 10px;
    width: 10px;
}

.small-o {
    height: 10px;
    width: 10px;
}


.game-card > .action-row .play,
.game-card > .action-row .edit,
.game-card > .action-row .delete {
    height: 30px;
    width: 30px;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-card > .action-row > .play {
    background: var(--clr-primary-600);
    border-radius: 4px;
}

/*filters*/
::deep .name-filter {
    justify-content: flex-end;
    display: flex;
    padding: 10px;
    border-radius: 0;
    margin-top: 20px;
    min-width: 180px;
}


.filters {
    width: 260px;
}

    .filters > h2 {
        margin-block-end: 1rem;
    }
    .filters > .selected > span {
        background: var(--clr-primary-600);
        color: white;
        padding: 6px;
        border-radius: 4px;
        margin-right: 5px;
        margin-bottom: 10px;
        display: inline-block;
        font-weight: bold;
        cursor: pointer;
    }

        .filters > .selected > span::before {
            content: url(IMG/icons/cross.svg);
            margin-right: 8px;
        }

.category-txt {
    color: var(--clr-primary-600);
}

.filter-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    ::deep .filter-wrapper .dropdown {
        border-top: solid 2px var(--clr-gray-500);
        padding: 10px;
    }

        ::deep .filter-wrapper .dropdown:first-child {
            border: solid 0 white;
        }

.option {
    color: var(--clr-gray-500);
    border: none;
}

    .option input[type="checkbox"]:checked + span {
        color: var(--clr-primary-600);
    }

    .option input[type="radio"]:checked + span {
        color: var(--clr-primary-600);
    }

.filter-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-block-start: 1rem;
}
