@attribute [Route(PageRoutes.Multiplayer.RoomWithCodeWaiting)]
@rendermode InteractiveWebAssembly

<PageTitle>Pozvánka pro kamaráda</PageTitle>

<div class="center">
    <h1>Hraj s kamarádem</h1>
    <div class="invite sheet">
        <div class="code-cont">
            <h1 class="invite-code blue can-copy">@inviteCode</h1>
            <span>Kód pozvánky</span>
        </div>
        <p class="code-info-text can-copy">
            Invite link - @GetInviteLink()
        </p>
        <div class="waiting">
            <div class="loader"></div>
            <span class="blue">Čekám na připojení</span>
        </div>
    </div>
</div>

 


