@using h.Contracts.Games
@using h.Primitives.Games
@using Microsoft.EntityFrameworkCore.Migrations
@attribute [Route(PageRoutes.HomeIndex)]


<PageTitle>Výběr úloh</PageTitle>

<div class="vyber">
    <h2>Výběr úloh</h2>

    <div class="game-cards">
        @foreach (var game in games)
        {
            @switch (game.Difficulty)
            {
                case 0:
                    imgSrc = "/IMG/Difficulties/Zacatecnik/zarivka_beginner_modre.svg";
                    alt = "zacatecnik";
                    break;
                case 1:
                    imgSrc = "/IMG/Difficulties/Jednoducha/zarivka_easy_modre.svg";
                    alt = "jednoducha";
                    break;
                case 2:
                    imgSrc = "IMG/Difficulties/Stredni/zarivka_medium_modre.svg";
                    alt = "stredni";
                    break;
                case 3:
                    imgSrc = "IMG/Difficulties/Tezka/zarivka_hard_modra.svg";
                    alt = "tezka";
                    break;
                case 4:
                    imgSrc = "IMG/Difficulties/Extremni/zarivka_extreme_modre.svg";
                    alt = "extremni";
                    break;
            }
            <div class="card">
                <div class="name-diff">
                    <h3>@game.Name</h3>
                    <img src=@imgSrc alt=@alt class="diff">
                </div>
                
                <div class="game-img">

                </div>
            </div>
        }
    </div>
</div>

<div class="filters">
    <h2 style=" color: #D5D5D5; ">Filtry</h2>

    <form action="" class="filter-bar">
        <div class="category">
            <h3 class="category-txt">Obtížnost</h3>

            <div class="option">
                <input type="checkbox" value="1" name="1">
                <span>Začátečník</span>
            </div>
            <div class="option">
                <input type="checkbox" value="1" name="2">
                <span>Jednoduchá</span>
            </div>
            <div class="option">
                <input type="checkbox" value="1" name="3">
                <span>Střední</span>
            </div>
            <div class="option">
                <input type="checkbox" value="1" name="4">
                <span>Těžká</span>
            </div>
            <div class="option">
                <input type="checkbox" value="1" name="5">
                <span>Extrémní</span>
            </div>
        </div>
        <br>
        <div class="buttons">
            <button class="filtrovat">Filtrovat</button>
            <button class="zrusit">Zrušít filtry</button>
        </div>
        
    </form>
</div>

@code {
    private List<GameResponse> games;
    string imgSrc;
    string alt;

    protected override void OnInitialized()
    {
        games = new()
        {
            new(Guid.NewGuid(),
                DateTime.Now,
                DateTime.Now,
                "Armagedon",
                Primitives.Games.GameDifficulty.Easy,
                Primitives.Games.GameState.Opening,
                [
                    ["O", "X", "", "", "", "", "", "", "", "", "", "", "", "", ""],
                    ["O", "X", "", "", "", "", "", "", "", "", "", "", "", "", ""],
                    ["", "", "", "", "", "", "", "", "", "", "", "", "", "", ""],
                    ["", "", "", "", "", "", "", "", "", "", "", "", "", "", ""],
                    ["", "", "", "", "", "", "", "", "", "", "", "", "", "", ""],
                    ["", "", "", "", "", "", "", "", "", "", "", "", "", "", ""],
                    ["", "", "", "", "", "", "", "", "", "", "", "", "", "", ""],
                    ["", "", "", "", "", "", "", "", "", "", "", "", "", "", ""],
                    ["", "", "", "", "", "", "", "", "", "", "", "", "", "", ""],
                    ["", "", "", "", "", "", "", "", "", "", "", "", "", "", ""],
                    ["", "", "", "", "", "", "", "", "", "", "", "", "", "", ""],
                    ["", "", "", "", "", "", "", "", "", "", "", "", "", "", ""],
                    ["", "", "", "", "", "", "", "", "", "", "", "", "", "", ""],
                    ["", "", "", "", "", "", "", "", "", "", "", "", "", "", ""],
                    ["", "", "", "", "", "", "", "", "", "", "", "", "", "", ""],
                ]),
            new(Guid.NewGuid(),
                DateTime.Now,
                DateTime.Now,
                "Armagedon",
                Primitives.Games.GameDifficulty.Hard,
                Primitives.Games.GameState.Opening,
                [
                    ["O", "X", "", "", "", "", "", "", "", "", "", "", "", "", ""],
                    ["O", "X", "", "", "", "", "", "", "", "", "", "", "", "", ""],
                    ["", "", "", "", "", "", "", "", "", "", "", "", "", "", ""],
                    ["", "", "", "", "", "", "", "", "", "", "", "", "", "", ""],
                    ["", "", "", "", "", "", "", "", "", "", "", "", "", "", ""],
                    ["", "", "", "", "", "", "", "", "", "", "", "", "", "", ""],
                    ["", "", "", "", "", "", "", "", "", "", "", "", "", "", ""],
                    ["", "", "", "", "", "", "", "", "", "", "", "", "", "", ""],
                    ["", "", "", "", "", "", "", "", "", "", "", "", "", "", ""],
                    ["", "", "", "", "", "", "", "", "", "", "", "", "", "", ""],
                    ["", "", "", "", "", "", "", "", "", "", "", "", "", "", ""],
                    ["", "", "", "", "", "", "", "", "", "", "", "", "", "", ""],
                    ["", "", "", "", "", "", "", "", "", "", "", "", "", "", ""],
                    ["", "", "", "", "", "", "", "", "", "", "", "", "", "", ""],
                    ["", "", "", "", "", "", "", "", "", "", "", "", "", "", ""],
                ]),
        };
    }

}