@attribute [Route(PageRoutes.HomeIndex)]

<PageTitle>Výběr úloh</PageTitle>

<h2>Výběr úloh</h2>

<div class="game-cards">
    <div class="card">
        <h3>Armagedon</h3>
        <img src="" alt="diff">
        <div class="game-img"></div>
    </div>
</div>