@using h.Client.Services
@attribute [Route(PageRoutes.User.UserBoard)]
@rendermode InteractiveServer

<PageTitle>Profil hráče @currentUser?.Username</PageTitle>

<div class="userbanner">
    <div class="userbox sheet">
        <img src="/IMG/pfps/pfp-blue.svg" alt="">
        <p>@currentUser?.Username</p>
    </div>
</div>

<div class="userfields">
    <div class="usercol">
        <div class="userfield sheet">
            <h1>Statistiky</h1>
            <div class="stats">
                <div class="user-statistic">
                    <div class="label">ELO</div>
                    <div class="value">@currentUser?.Elo.Rating</div>
                </div>
                <div class="user-statistic">
                    <div class="label">
                        <img src="/IMG/icons/leaderboard.svg" alt="">
                    </div>
                    <div class="value">#@placeInLeaderboard</div>
                </div>
            </div>
            <div class="joined">
                <p class="label">Připojil/a se</p>
                <p class="date">@currentUser?.CreatedAt.ToShortDateString()</p>
            </div>
        </div>
    </div>
    <div class="usercol">
        <div class="userfield sheet">
            <h1>Historie her</h1>
            <div class="gamehistory">
                @foreach (var gameRecord in currentUser!.UserToFinishedRankedGames.Take(4)) 
                {
                    var opponentName = opponentsInGames?[gameRecord.FinishedRankedGame!.GetOpponentUserId(currentUser!.Uuid)];
                    var winIcon = ResourceHelper.GetTrophyIcon(gameRecord.FinishedRankedGame!.DidWin(currentUser!.Uuid));
                    var playeSymbolIcon = ResourceHelper.GetSymbolSrc(gameRecord.FinishedRankedGame!.GetPlayerSymbol(currentUser!.Uuid));
                    

                    <div class="gamerecord">
                        <div class="data">
                            <p class="date">@(gameRecord.FinishedRankedGame!.PlayedAt.ToShortDateString())</p>
                            <p class="opponent">
                                <img src="/IMG/pfps/pfp-blue.svg" alt="">
                                <span>@opponentName</span>
                            </p>
                        </div>
                        <div class="icons">
                            <img src="@playeSymbolIcon" alt="">
                            <img src="@winIcon" alt="">
                            <button class="view">
                                <img src="/IMG/icons/view.svg" alt="">
                            </button>
                        </div>
                    </div>
                }
            </div>
            <a href="/user/game-history" class="show-history">Kompletní historie</a>
        </div>
    </div>
</div>

                            