.blue {
    color: var(--clr-primary-600);
}

.game-history-cont {
    margin-top: 200px;
    margin-left: 10rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.game-history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 70%;
}

.view {
    background: #0070BB;
    border: 0;
    border-radius: 6px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    img {
        width: 15px;
    }

}

.view:hover {
    background: #004f83;
}

.player-icon {
    height: 20px;
    width: 20px;
}

th {
    text-align: left;
}

td, th {
    padding: 6px;
}

.game-history-list {
    border-collapse: collapse;
    width: 100%;
}

.game-history-cont a {
    text-decoration: underline;
    font-weight: bold;
    font-size: 14pt;
}

@media only screen and (max-width: 600px) {
    .game-history-cont {
        margin-left: 0;
        margin-top: 5rem;
        width: 100%;

        a {
              font-size: 13pt;
          }
    }

    .game-history {
        width: 100%;
    }

    thead tr th {
        font-size: 14px;
    }

    tbody tr td {
        font-size: 14px;
    }
}