/*
    Common board display - 
    panel with cells, each cell has symbol.
*/

.game-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    padding: 10px;
    border-radius: 8px;
    border: none;
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.1));
}

.game-field-row {
    display: flex;
    flex-direction: row;
    height: 40px;
}

.col-btn-dark {
    width: 50px;
    background: var(--clr-gray-450);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-btn-light {
    width: 50px;
    background: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-field {
    /*cell style*/
    .cell {
        position: relative;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;

        > img {
            width: 30px;
            height: 30px;
        }

    }

    /*cell hover*/
    &:not([data-hover-disabled]) {
        .cell {
            &.empty {
                cursor: pointer;

                &::after {
                    content: "";
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    background-repeat: no-repeat;
                    background-position: center;
                    opacity: 0.5;
                }
            }
        }
    }
    &:not([data-hover-disabled])[data-cell-hover-symbol="X"] .cell:hover::after {
        background-image: url("/IMG/X/X_cervene.svg");
    }

    &:not([data-hover-disabled])[data-cell-hover-symbol="O"] .cell:hover::after {
        background-image: url("/IMG/O/O_modre.svg");
    }

}