/*
    Common board display - 
    panel with cells, each cell has symbol.
*/

.game-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    padding: 10px;
    border-radius: 8px;
    border: none;
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.1));
}

.game-field-row {
    display: flex;
    flex-direction: row;
    height: 50px;
}

.col-btn-dark {
    width: 50px;
    background: #F9F9F9;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-btn-light {
    width: 50px;
    background: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-field .cell {
    position: relative;

    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .game-field .cell > img {
        width: 30px;
        height: 30px;
    }

        .game-field .cell.empty {
            cursor: pointer;
        }

        .game-field .cell.empty::after {
            content: "";
            width: 30px;
            height: 30px;
            position: absolute;
            /*background-size: 75% 75%;*/
            background-repeat: no-repeat;
            background-position: center;
            opacity: 0.5;
        }

            .game-field[data-cell-hover-symbol="X"] .cell.empty:hover::after {
                background-image: url("/IMG/X/X_cervene.svg");
            }

            .game-field[data-cell-hover-symbol="O"] .cell.empty:hover::after {
                background-image: url("/IMG/O/O_modre.svg");
            }