.sheet {
    background: white;
    border: none;
    border-radius: 8px;
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.1));
    padding: 7px;
}

.place-center {
    display: flex;
    place-content: center;
    align-items: center;
}

.difficulty-selector {
    display: grid;
    /*grid-template-areas:
        "left right bulb"
        "slider slider bulb";*/
    grid-template-areas:
        "left right"
        "slider slider";

    grid-template-columns: 1fr 1fr auto;
    row-gap: 0.3rem;
    grid-column-gap: 1.6rem;
}

.difficulty-selector .left {
    grid-area: left;
}

.difficulty-selector .right {
    grid-area: right;
}

.difficulty-selector .left,
.difficulty-selector .right {
    color: #C0C0C0;
    font-size: 0.75rem;
}

.difficulty-selector .bulb {
    grid-area: bulb;
}

.difficulty-selector .slider {
    grid-area: slider;
}