@page "/StatusCode/404"

<h2 class="center">404</h2>
<p class="center">Stránku, kterou hledáš, jsme nenašli, ale můžeš to zkusit na <a class="link" href="@PageRoutes.HomeIndex">domovské stránce</a></p>