@page "/vytvorit-hru"

<PageTitle>Vytvořit novou úlohu</PageTitle>

<div class="vytvorit">
    <h2>Vytvořit novou úlohu</h2>
    
    <div class="panel">
        <div class="jmeno">
            <input type="text" placeholder="Jméno úlohy">
            <button class="save-btn"><img src="/IMG/icons/save.svg" alt="save"></button>
        </div>
        <div class="pick">
            <button class="cross-btn"></button>
            <button class="circle-btn"></button>
            <div class="line"></div>
            <button class="bin"><img src="/IMG/icons/bin.svg" alt="bin"></button>
        </div>
        <div class="back-forth">
            <button class="back-btn"><img src="/IMG/icons/back.svg" alt="back"></button>
            <button class="forth-btn"><img src="/IMG/icons/forth.svg" alt="forth"></button>
        </div>
        <div class="diff">
            
        </div>
    </div>
</div>
