.showcase {
    display: flex;
    padding-top: 40px;
    justify-content: space-between;
    width: 100%;
}

.showcase-img {
    flex: 40%;
}

.showcase-text {
    display: flex;
    flex: 50%;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.info-button {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 400px;
}

.info-button .text-field {
    display: flex;
    justify-content: space-between;
}

h1.blue {
    color: var(--clr-primary-600);
}

.leaderboard-container, .team-container {
    padding: 20px;
    padding-top: 200px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}

.pedestals {
    display: flex;
    justify-content: center;
    gap: 90px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.pedestal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.pedestal:first-child, .pedestal:last-child {
    margin-top: 60px;
}

.pedestal .name {
    font-weight: bold;
    font-size: 20pt;
}

.pedestal .elo {
    font-size: 15pt;
}

.leadertable table {
    padding: 0;
}

.leadertable table tr {
    display: flex;
    align-items: center;
    margin: 0;
    gap: 20px;
    border-top: var(--clr-primary-600) solid 2px;
    border-bottom: var(--clr-primary-600) solid 2px;
    padding: 9px 26px;
}

.leadertable table tr:first-child {
    border-top: var(--clr-primary-600) solid 3.5px;
}

.leadertable table tr:last-child {
    border-bottom: var(--clr-primary-600) solid 3.5px;
}

.leadertable table td {
    min-width: 40px;
}

.leadertable .place {
    font-weight: bold;
    color: var(--clr-primary-600);
    font-size: 20pt;
}

.leadertable .name {
    font-weight: bold;
}

/* My */

.team {
    display: flex;
    justify-content: center;
    gap: 90px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.team .pfp {
    width: 170px;
    height: 170px;
    background-size: cover;
    border-radius: 200px;
    margin-bottom: 30px;
}