.form-cont ::deep .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    margin: 0.5rem;
}

.text-input {
    min-width: 230px;
}

.register-btn {
    box-sizing: border-box;
}